.EmailText{
    font-size: 20px;
}


.UserMenuBtn {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: -2px 2px 4px 1px rgba(34, 60, 80, 0.37);


}

.UserMenuBtn:hover {
    background-color: #e9e9e9;
}